/*splash*/

#bottomRect{
	position: absolute;
	bottom: 0;
	min-height: 20%;
	width: 100%;
	background-color: #f9e1b7;
}

#topRect {
    width: 100%;
    height: 80%;
    top: 0;
    background: url('../images/elements/background-landing.png') no-repeat center bottom;
    background-size: cover;
}

#houseContainer{
	position: absolute;
	height: 200px;
	bottom: 15%;
	white-space: nowrap;
}

#splash {
    width: 100%;
    height: 100%;
}

.house{
	position: relative;
	cursor: pointer;
	float: left;
	height:100%;
	width: 100px;
}

.house .text{
	width: 100%;
	margin-left: -50%;
}

.houseBase , .houseMouseover , .textArea , .textAreaHover{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
}


.textAreaContainer{
	width: 60%;
	left: 50%;
	height: 100%;
	position: absolute;

}

.houseMouseover , .textAreaHover{
	z-index: 9;
	display: none;

}

/*titles*/

#splashTitle{
	position: absolute;
	width: 100%;
	top: 0;
	margin-left: -70px;
}

.title{
	width: 100%;
	display: block;
	margin: auto;
	text-align: center;
	
}

.title img {
    height: 100%;
    display: inline-block;
}

#title0 {
    height: 140px;
    margin: 15px 0 10px 0;
}
#title1 {
    height: 43px;
    margin: -41px 0 0 178px;
}
#title2 {
    height: 79px;
    margin: 14px 0 0 90px;
}



/*specific house*/

#house0{
	width: 98px;
}

#house1{
	width: 159px;
}

#house2{
	width: 86px;
}

#house3{
	width: 133px;
}

#house4{
	width: 152px;
}

#house5{
	width: 152px;
}

#house6{
	width: 62px;
}

#house7{
	width: 147px;
}

#house8{
	width: 111px;
}




